<app-header [user]="loggedInUser"></app-header>
<input type="file" id="fileUpload" (change)="uploadFile()" hidden>
<div class="alert m-2" [class.alert-success]="alertSuccess" [class.alert-danger]="!alertSuccess" role="alert"
  style="display: none;">
  <strong>{{alertSuccess?'Success!':'Error!'}} </strong> {{alertMessage}}
</div>
<div *ngIf="loading"><i class="fas fa-4x fa-spin fa-circle-notch" style="position: absolute;top:30%;left:50%;"></i>
</div>
<div *ngIf="!loading" class="card m-2">
  <div class="card-header bg-transparent text-center">
    <span class="float-left">Folders <i class="fas fa-arrow-right"></i>
      {{dirs.length}} & Files <i class="fas fa-arrow-right"></i> {{files.length}}</span>
    <!-- <strong class="text-secondary">IMI File Manager</strong> -->
    <span class="float-right"><button class="btn btn-sm btn-primary mr-1"
        onclick="document.getElementById('fileUpload').click()">Upload <i class="fas fa-upload"></i></button></span>
    <span class="float-right"><input [(ngModel)]='filter' (input)="onFilter($event)" class="mr-1"
        placeholder="Search in current folder"></span>
    <br>
    <span *ngIf="breadcrumbs?.length>0" class="float-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent" style="max-height: 15px;">
          <li class="mr-1"><i class="far fa-folder-open"></i></li>
          <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item" aria-current="page">
            <a class="breadcrumb-item-link" href="#"
              (click)="onBreadcrumbClick(breadcrumb, $event)">{{breadcrumb.name}}</a>
          </li>
          <li class="mx-2"><a href="#" (click)="refresh($event)" title="Refresh Files & Folders"><i
                class="fas fa-sync text-secondary"></i></a>
          </li>
        </ol>
      </nav>
    </span>
  </div>
  <div class="card-body row">
    <div class="col-2">
      <div class="text-secondary ml-1"><strong>List of Folders <a href="#collapseAddFolder" data-toggle="collapse"
            title="Add new folder here" onclick="$('#addFolderInput').val('')"><i
              class="fas fa-folder-plus text-primary" style="font-size: larger;"></i></a></strong>
      </div>
      <div class="collapse" id="collapseAddFolder">
        <div class="input-group mb-2">
          <input id="addFolderInput" type="text" class="form-control" placeholder="Folder Name" aria-label="Folder Name"
            aria-describedby="addFolder">
          <div class="input-group-append">
            <button (click)="addFolder()" class="btn btn-outline-primary" type="button" id="addFolder">Add</button>
          </div>
        </div>
      </div>
      <div class="list-group">
        <ng-container *ngIf="dirs.length>0">
          <span *ngFor="let dir of dirs" class="list-group-item list-group-item-action">
            <a href="#" (click)="onDirClick(dir, $event)" class="text-secondary" style="text-decoration: none;">
              <i class="far fa-folder"></i> {{dir.name}}</a>
            <a title="Delete folder {{dir.name}}" class="float-right" href="#" (click)="deleteFolder(dir, $event)"><i
                class="far fa-trash-alt text-danger"></i></a>
          </span>
        </ng-container>
        <ng-container *ngIf="dirs.length==0">
          <span class="list-group-item list-group-item-action">
            No Folders Available!
          </span>
        </ng-container>
      </div>
    </div>
    <div class="col-10">
      <div class="row" style="padding-top: 1.5em;">
        <div *ngIf="files.length==0" class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="lead">No files available in the current directory.</p>
          </div>
        </div>
        <div *ngFor="let file of files" class="card col-lg-2 col-md-3 col-sm-6 m-1 shadow">
          <div *ngIf="validImgFile(file.name)" class="card-header bg-transparent">
            <a href="#" (click)="onFileClick(file, $event)">
              <img [attr.src]="getFileUrl(file)" style="position: relative;height: 100%;width: 100%; max-height: 150px">
            </a>
          </div>
          <div class="card-body">
            <!-- <ng-template [ngIf]="validFile(file.name)"> -->
            <a href="#" (click)="onFileClick(file, $event)" class="text-secondary">
              <i class="far fa-2x" [class.fa-file]="!validFile(file.name)"
                [class.fa-file-pdf]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.text-danger]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.fa-file-image]="validImgFile(file.name)"></i>
              {{file.name}}
            </a>
            <!-- </ng-template> -->
            <!-- <ng-template [ngIf]="!validFile(file.name)">
              <i class="far fa-2x" [class.fa-file]="!validFile(file.name)"
                [class.fa-file-pdf]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.fa-file-image]="validImgFile(file.name)"></i>
              {{file.name}}
            </ng-template> -->
          </div>
          <div class="card-footer bg-transparent">
            <a href="#" class="text-secondary float-right" title="Delete" (click)="onFileDelete(file, $event)"><i
                class="far fa-trash-alt text-danger"></i></a>
            <a href="#" class="text-secondary float-right mx-2" title="Download"
              (click)="onFileDownload(file, $event)"><i class="fas fa-download text-info"></i></a>
            <a href="#" class="float-right text-info" title="Copy File Path to Clipboard"
              (click)="copyPath(file,$event)"><i class="far fa-clipboard"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer" hidden>Folders <i class="fas fa-arrow-right"></i> {{dirs.length}} Files <i
      class="fas fa-arrow-right"></i> {{files.length}}</div>
</div>

<div id="addFolder" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body d-flex text-center">
        <label for="addFolderInput" class="mr-1">Folder Name</label>
        <input class="form-input" id="addFolderInput" autofocus>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary float-left" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)="addFolder()">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="toast bg-success text-white" data-delay="2000" style="position: fixed; top: 40%; right: 40%;">
  <div class="toast-body">
    <strong>Copied to Clipboard!</strong>
  </div>
</div>