<app-header [user]="loggedInUser"></app-header>
<input type="file" id="fileUpload" (input)="uploadFile()" hidden>
<div class="alert m-2" [class.alert-success]="alertSuccess" [class.alert-danger]="!alertSuccess" role="alert"
  style="display: none;">
  <strong>{{alertSuccess?'Success!':'Error!'}} </strong> {{alertMessage}}
</div>
<div *ngIf="loading"><i class="fas fa-4x fa-spin fa-circle-notch" style="position: absolute;top:30%;left:50%;"></i>
</div>
<div *ngIf="!loading && dirs.length==0" class="jumbotron jumbotron-fluid m-2">
  <div class="container">
    <p class="lead">No content available.</p>
  </div>
</div>
<div class="card m-2">
  <div class="card-header bg-transparent text-center">
    <span *ngIf="!loading && dirs.length!=0" class="float-left">Folders <i class="fas fa-arrow-right"></i>
      {{dirs.length}} & Files <i class="fas fa-arrow-right"></i> {{files.length}}</span>
    <!-- <strong class="text-secondary">IMI File Manager</strong> -->
    <span class="float-right"><button class="btn btn-sm btn-primary mr-1"
        onclick="document.getElementById('fileUpload').click()">Upload <i class="fas fa-upload"></i></button></span>
    <span class="float-right"><input [(ngModel)]='filter' (input)="onFilter($event)" class="mr-1"
        placeholder="Search in current folder"></span>
    <br>
    <span *ngIf="!loading && breadcrumbs?.length>0" class="float-left">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb bg-transparent" style="max-height: 15px;">
          <li class="mr-1"><i class="far fa-folder-open"></i></li>
          <li *ngFor="let breadcrumb of breadcrumbs" class="breadcrumb-item" aria-current="page">
            <a class="breadcrumb-item-link" href="#"
              (click)="onBreadcrumbClick(breadcrumb, $event)">{{breadcrumb.name}}</a>
          </li>
        </ol>
      </nav>
    </span>
  </div>
  <div *ngIf="!loading && dirs.length!=0" class="card-body row">
    <div class="col-2">
      <div class="text-secondary ml-1"><strong>List of Folders</strong></div>
      <div class="list-group">
        <a *ngFor="let dir of dirs" href="#" (click)="onDirClick(dir, $event)"
          class="list-group-item list-group-item-action" [class.disabled]='dir.name==selectedDir.name'>
          <i class="far fa-folder"></i> {{dir.name}}
        </a>
      </div>
    </div>
    <div class="col-10">
      <div class="row" style="padding-top: 1.5em;">
        <div *ngIf="files.length==0" class="jumbotron jumbotron-fluid">
          <div class="container">
            <p class="lead">No files available in the current directory.</p>
          </div>
        </div>
        <div *ngFor="let file of files" class="card col-lg-2 col-md-3 col-sm-6 m-1 shadow">
          <div *ngIf="validImgFile(file.name)" class="card-header bg-transparent">
            <a href="#" (click)="onFileClick(file, $event)">
              <img [attr.src]="getFileUrl(file)" style="position: relative;height: 100%;width: 100%; max-height: 150px">
            </a>
          </div>
          <div class="card-body">
            <!-- <ng-template [ngIf]="validFile(file.name)"> -->
            <a href="#" (click)="onFileClick(file, $event)" class="text-secondary">
              <i class="far fa-2x" [class.fa-file]="!validFile(file.name)"
                [class.fa-file-pdf]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.text-danger]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.fa-file-image]="validImgFile(file.name)"></i>
              {{file.name}}
            </a>
            <!-- </ng-template> -->
            <!-- <ng-template [ngIf]="!validFile(file.name)">
              <i class="far fa-2x" [class.fa-file]="!validFile(file.name)"
                [class.fa-file-pdf]="file.name.toLowerCase().indexOf('.pdf') != -1"
                [class.fa-file-image]="validImgFile(file.name)"></i>
              {{file.name}}
            </ng-template> -->
          </div>
          <div class="card-footer bg-transparent">
            <a href="#" class="text-secondary float-right" title="Delete" (click)="onFileDelete(file, $event)"><i
                class="far fa-trash-alt text-danger"></i></a>
            <a href="#" class="text-secondary float-right mx-2" title="Download"
              (click)="onFileDownload(file, $event)"><i class="fas fa-download text-info"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer" hidden>Folders <i class="fas fa-arrow-right"></i> {{dirs.length}} Files <i
      class="fas fa-arrow-right"></i> {{files.length}}</div>
</div>